@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

body, html {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #fff !important;
  font-size: 1rem;
  overflow-x:hidden
}

#mylogs-container {
  padding-top: 66px;
  margin-left: 45px;
  padding-left: 25px;
  padding-right: 10px;
  transition: margin-left 0.8s ease-out;

  &.menu-expanded {
    margin-left: 250px;
  }
}

.data-null-error {
  max-width: 500px;
  width: 80vw;
}

.green {
  color: green;
}

.red {
  color: #a80000;
}

.br {
  margin: 10px 5px;
  height: 1px;
  background-color: #cdcdcd;
}

.input-text {
  input {
    padding: 4px 0!important;
    text-align: center;
  }
}

.w-100 {
  width: 100%;
}

.overflow-scroll {
  overflow: scroll;
}