$MENU-SIZE: 45px;

#menu {
  &.expanded {
    #vertical {
      width: 250px;
      .MuiButton-root {
        left: 0 !important;
      }
    }

    #vertical .MuiButton-root:last-child svg {
      transform: rotate(-180deg);
    }
  }

  #vertical, #horizontal {
    position: fixed;
    z-index: 200;
  }
  #horizontal {
    height: $MENU-SIZE;
    width: 100%;
    box-shadow: -6px -12px 20px 0px black;
    background-color: #f3f3f3;
    margin-left: $MENU-SIZE;
  }
  #vertical {
    padding-top: $MENU-SIZE;
    height: calc(100% - #{$MENU-SIZE});
    width: $MENU-SIZE;
    z-index: 201;
    box-shadow: -12px 50px 20px 0px black;
    background-color: #009688;
    transition: width 0.8s ease-out;
    .MuiButton-root {
      height: $MENU-SIZE;
      width: 100%;
      position: relative;
      white-space: nowrap;
      color: white;
      justify-content: left;
      transition: left 0.8s ease-out;
      span {
        margin: 0;
      }
      svg {
        padding: 10px;
        width: 25px;
        height: 25px;
      }
      //&>div {
      //  padding-left: 10px;
      //  transition: left 0.8s ease-out;
      //  position: absolute;
      //  button {
      //    color: white;
      //  }
      //}
    }

    .bottom {
      bottom: 0;
      position: absolute;
      .MuiButton-root:last-child {
        svg {
          transition: 0.8s ease-out;
        }
      }
    }
  }
}
