#menu.expanded #vertical {
  width: 250px;
}
#menu.expanded #vertical .MuiButton-root {
  left: 0 !important;
}
#menu.expanded #vertical .MuiButton-root:last-child svg {
  transform: rotate(-180deg);
}
#menu #vertical, #menu #horizontal {
  position: fixed;
  z-index: 200;
}
#menu #horizontal {
  height: 45px;
  width: 100%;
  box-shadow: -6px -12px 20px 0px black;
  background-color: #f3f3f3;
  margin-left: 45px;
}
#menu #vertical {
  padding-top: 45px;
  height: calc(100% - 45px);
  width: 45px;
  z-index: 201;
  box-shadow: -12px 50px 20px 0px black;
  background-color: #009688;
  transition: width 0.8s ease-out;
}
#menu #vertical .MuiButton-root {
  height: 45px;
  width: 100%;
  position: relative;
  white-space: nowrap;
  color: white;
  justify-content: left;
  transition: left 0.8s ease-out;
}
#menu #vertical .MuiButton-root span {
  margin: 0;
}
#menu #vertical .MuiButton-root svg {
  padding: 10px;
  width: 25px;
  height: 25px;
}
#menu #vertical .bottom {
  bottom: 0;
  position: absolute;
}
#menu #vertical .bottom .MuiButton-root:last-child svg {
  transition: 0.8s ease-out;
}

/*# sourceMappingURL=Menu.css.map */
